.location-item:hover {
	background-color: blue;
	color: white;
}

.map-container {
    width: 800px;
    max-width: 100%;
    height: 500px;
}

.left {
	max-width: 100%;
    background:red;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}

.right {
	background:yellow;
    white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -ms-text-overflow:ellipsis;
      text-align: right;
}

.half {
      flex: 1 0 50%;
      background: #fff;
}
