@import "variables.import.less";
@import "components.import.less";


.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    float: left;
}

.navbar {
    background-color: #ffffff;
    overflow: auto;
    display: block;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.navbar-brand {
    font-family: @navbar-item-font-family;
    font-size: 30px;
    padding: 10px;
    float: left;
    position: relative;
}

.page-header {
    margin: 0;
    padding: @large-padding @main-padding @large-padding;
    background-color: @header-color;
}
.page-body {
    padding: @main-padding;
    background-color: @body-color;
    overflow: auto;
}
.page-footer {
    padding: @large-padding @main-padding;
    background-color: @footer-color;
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));

    .footer {
        color: @primary-color;
        text-align: center;
    }
}


@media all and (max-width: @min-screen-width) {
    #main-nav {
        display: none;
    }

    .navbar-toggle {
        display: inherit !important;
    }

    .page-container {
        margin-left: 0 !important;
        width: 100% !important;
    }
}


.page-container {
    margin-left: 16.666666666666666%;
    width: 66.666666666666666666666%;
}

.container-fluid {
    width: 100%;
    position: relative;

    .navbar-header {
        .navbar-toggle {
            display: none;
            float: right;
            vertical-align: middle;
            margin: 5px;
        }

        #nav-toggle {
            border-radius: @main-radius;
        }

        #main-nav {

            ul {

                a {

                    li {
//                        float: left;
                        display: inline-block;
                        font-family: @navbar-item-font-family;
                        font-size: 20px;
                        vertical-align: middle;
                        padding: 15px;
                    }
                }

                li.active {
                    background-color: #ffbbbb;
                }
            }
        }
    }
}

.loc {
	padding: 10px;
	font-size: 20px;
	background-color: black;
	color: #fff;
	font-family: 'Lato', sans-serif;
	border-top: 2px solid #fff;
}

.loc-potential {
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border-top: 2px solid #fff;
}

#locations {
    padding-bottom: 5px;
}

#loc-list {
	padding-bottom: 20px;
}

.question-group {
    padding: 20px;

    label {
        font-size: 18px;
    }
}

.map-container {
    width: 100%;
    height: 500px;
}

button{
    &#submitPath {
        margin-bottom: 20px;
    }

    &#removeAllPaths {
        width: 70%;
        margin-top: 10px;
    }
}

.path-item-header {
    float: left;
}

.dropdown {
    float: right;
    padding-bottom: 10px;
    position: relative;


    .dropdown-btn {
        padding: 5px;
        border-radius: 5px;
        background-color: #00A000;

        &:focus {
            outline: 0;
        }
    }

    .dropdown-menu {
        display: block;
        position: absolute;
        top: 100%;

        min-width: 160px;
        background-color: #ffffff;
        z-index: 1000;
        font-size: 14px;

        padding: 5px 0;
        margin: 2px 0 0;
        float: left;
        left: auto;
        right: 0;
        border: 1px solid #cccccc;
        border-radius: 5px;

        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

        li > a {
            display: block;
            padding: 5px 20px;
            font-weight: normal;
            color: black;
            cursor: pointer;

            &:hover {
                background-color: #dadada;
            }
        }
    }
}

#nav-dropdown-menu {
    display: none;
    position: relative;
    top: 100%;

    width: 100%;
    background-color: #ffffff;
    font-size: 14px;

    padding: 5px 0;
    margin: 2px 0 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    li > a {
        font-family: @navbar-item-font-family;
        font-size: 24px;
        text-align: center;
        display: block;
        padding: 5px 20px;
        font-weight: normal;
        color: black;
        cursor: pointer;

        &:hover {
            background-color: #dadada;
        }
    }
}



.hidden {
    display: none;
}

.path-item {
    padding-bottom: 30px;
}

.ui-sortable-handle {
    cursor: move;

    .delete-location {
        cursor: pointer;
    }
}