<template name="pathItemHeader">
	<div class="list-item-info list-item-header clearfix">
		<h3>{{this.name}}</h3>
	</div>
</template>

<template name="pathItem">
	<div class="list-item">
		<div class="list-item-header clearfix">
			{{> pathItemHeader}}
		</div>

		<div class="row">
			<div class="half map-container">
				{{> googleMap name="exampleMap" options=exampleMapOptions}}
			</div>

			<div class="half list-item-body">
				<div class="clearfix">
					<ul class="list">
						<li class="list-item">
							<strong>Locations:</strong>
							{{#each this.path}}
								<div class="well markdown">
									{{this.locationName}}
								</div>
							{{/each}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
