<template name="pathItemHeader">
    <div class="path-item-header">
        <h3 id="pathName">{{this.pathName}}</h3>
    </div>

    <!-- Dropdown Menu -->
    <div class="dropdown">
        <button class="dropdown-btn" href="#">
            <i class="fa fa-bars"></i>
        </button>

        {{#if dropdownHidden}}

        {{else}}
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="js-delete-path" role="menuitem" tabindex="-1">Delete</a>
                </li>
                <li>
                    <a class="js-edit-path" data-toggle="editEventModal" role="menuitem" tabindex="-1">Edit</a>
                </li>
            </ul>
        {{/if}}
    </div>
</template>

<template name="pathItem">
    <div class="path-item">
        <div class="clearfix">
            {{> pathItemHeader}}
        </div>

        <!-- map object to be attached w/ jQuery -->
        <div id="pathItemMap{{this.pathName}}" name="pathItemMap{{this.pathName}}" class="half map-container">
        </div>

        {{#each this.path}}
        <div class="loc">
            {{this.locationName}}
        </div>
        {{/each}}

    </div>
</template>
