<template name="locEntry">
  <head>
    <title>TripPlanner</title>
  </head>



  <body>
    <div class="page-header text-center">
        <h1>Enter List of Locations Here</h1>
        <p>View the <a href="https://github.com/AndrewWang996/TripPlanner">source code</a>.</p>
    </div>
  </body>
  
  <textarea id="newLocation"></textarea>
  <div id="locations" class="list-group ui-sortable">
    {{#each allLocations}}
      <div id="{{idnum}}" class="list-group-item active ui-sortable-handle">
        {{title}}
      </div>
    {{/each}}
  </div>

  <button id="submitPath" type="submit" class="btn btn-lg btn-primary btn-block">Create Path</button>

</template>

