<template name="locEntry">
    {{#contentFor "pageHeader"}}
    <h1>Enter List of Locations Here</h1>
    <p>View the <a href="https://github.com/AndrewWang996/TripPlanner">source code</a>.</p>
    {{/contentFor}}

    <head>
        <title>TripPlanner</title>
    </head>

    <body>
    <div class="form">
        <div class="question-group">
            <label>Path Name</label>
            <input type="text" id="newPath" placeholder="Example: Europe Tour">
        </div>

        <div class="question-group">
            <label>New Location</label>
            <input type="text" id="newLocation" placeholder="Example: Paris">
        </div>

        <div id="locations">
            {{#each allLocations}}
            <div class="loc-potential">
                {{locationName}}
                <span id="deleteLocation" class="fa fa-times pull-right"></span>
            </div>
            {{/each}}
        </div>

        <button id="submitPath">
            Create Path
        </button>

    </div>
    </body>


</template>

