<template name="mainLayout">
  <!-- {{> css}} -->
  {{> nav}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 page-container">
        <div class="page-header">
          <!-- {{> yield "pageHeader"}} -->
        </div>
        
        <!-- {{> yield}} -->
        
        <div class="page-footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </div>

  <!-- {{> modal modalTemplate=currentModal.template modalTitle=currentModal.name}} -->
</template>