<template name="contactHeader">
	<h1>Contact Us <small>We're here for you.</small></h1>
</template>

<template name="contact">
	{{> contentFor region="pageHeader" template="contactHeader"}}
<!-- 	{{#contentFor "pageHeader"}}
		<h1>Contact Us <small>We're here for you.</small></h1>
	{{/contentFor}} -->
	
	<div class="page-body">
		<div class="list clearfix">
			<div class="list-item">
				<p>
					<i class="fa fa-envelope fa-5x pull-left fa-border"></i>
					Have any questions or concerns? Feel free to reach us at {{getSetting "contactEmail" "undefined"}}! 
					{{#if getSetting 'facebookPage'}}
						Better yet, post a comment on our 
						<a href="{{getSetting 'facebookPage'}}">
							<i class="fa fa-facebook-square"> facebook page</i>
						</a>
					{{/if}}
				</p>
			</div>
			<div class="list-item">
				<p>
					If you're coming here simply to let us know you love us and what we do, save yourself some time and hit the button above! <i class="fa fa-smile-o"></i>
				</p>
			</div>
		</div>
	</div>
</template>