<template name="nav">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor route='home'}}">TripPlanner</a>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="main-nav">
                    <ul class="nav navbar-nav">

                        <a href="{{pathFor 'locEntry'}}"><li class="{{currentPage 'locEntry'}}">Location Entry</li></a>
                        <a href="{{pathFor 'paths'}}"><li class="{{currentPage 'paths'}}">Paths</li></a>
                        <a href="{{pathFor 'contact'}}"><li class="{{currentPage 'contact'}}">Contact</li></a>

                    </ul>
                </div>

                <button type="button" id="nav-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="fa fa-bars"></span>
                </button>


            </div>

        </div>
    </nav>
</template>